body, html {
    padding: 0 !important;
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
}

h4 {
    font-family: "Ubuntu";
    font-weight: bold;
}

ul {
    list-style-type: none !important;
}

@font-face {
    font-family: Horizon;
    src: url('./fonts/Horizon.otf');
}

#logo {
    font-family: Horizon;
    font-size: 1.4em;
}

#addEvent {
    position: fixed;
    bottom: 20px;
    right: 40%;
    z-index: 9999;
    width: 200px;
    font-size: 1.4em;
}

.navbar {
    background-color: #000000 !important;
}

.navbar li a {
    color: green !important;
}
.navbar a {
    color: green !important;
}

.sidepanel {
    border-right: 1px dotted #ebebeb;
    height: 100vh;
}

.deleteBtn {
    position: absolute;
    bottom: 5%;
    right: 5%;
}

#flashMsg {
    position: absolute;
    top: 10px;
    right: 40%;
    z-index: 9999;
}

ul>li {
    list-style-type: none;
    text-align: center;
}

.spButtons {
    padding: 15px;
    border-radius: 20px;
    vertical-align: text-top;
}
.circleBlock {
    padding:10px;
    margin: 3px;
    background-color: #d9edf7;
    border-radius: 5px;
}
    .circleBlock:after {
        position: absolute;
        right: 25px;
        content: "❱";
    }
    .circleBlock:hover {
        background-color: #98cbe8;
    }

.circle_label {
    background-color: #2ab27b;
    padding: 10px;
    border-radius: 50%;
    color: #a6e1ec;
}

    .activeBlock {
        background-color: #98cbe8;
    }

.user_inv {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    vertical-align: bottom;
    border: 2px solid #204d74;
    display: inline-block;
}

.event-show h4 {
    background-color: #2F3133;
    color: #fff;
}

.thumbnail {
    -webkit-box-shadow: 5px 5px 8px #000;
    -moz-box-shadow: 5px 5px 8px #000;
    box-shadow: 5px 5px 8px #000;
}

.thumbnail a {
    text-decoration: underline;
    color: #000;
    text-transform: uppercase;
    font-style: italic;
}

.thumbnail .circle_label {
    margin: 10px 5px;
    box-shadow: 2px 1px 2px #000, -2px -1px 2px #fff;
}

.thumbnail .date {
    font-weight: bold;
    padding: 5px;
    background-color: #2F3133;
    color: #a6e1ec;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.thumbnail span.title {
    height: 50px;
    width: 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #fff;
    color: #99cb84;
    line-height: 50px;
    font-size: 1.5em;
}

.active {
    background-color: #5bc0de !important;
}

.expired {
    background-color: #888a85 !important;
    opacity: 0.5;
}

.users-block  {
    display: inline-block;
    background-color: #133d55;
    padding: 10px;
    border-radius: 15px;
    color: #a6e1ec;
}
    .users-block a {
        color: #a6e1ec;
    }

.date, .edit-show-date{
    font-weight: bold;
    padding: 5px;
    background-color: #2F3133;
    color: #a6e1ec;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 5px auto;
    width: 100px;
}

.edit-show-date {
    width: 200px;
}

.userProfilePhoto {
    width: 200px;
    min-height: 200px;
    border: 2px solid #2a88bd;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #2a90bd;
    margin: 5px;
}

.user_inv img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: -1px;
}

.user-photo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: inline-block;
}

.user-photo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.user-name {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.textComment {
    position: relative;
    background-color: #a6e1ec;
}

.front {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 1px solid transparent;

    border-right:10px solid #a6e1ec;
    bottom: 0;
    left: -10px;
}

.favorite-star {
    background-color: #133d55;
    border-radius: 5px 5px 37px 37px;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    font-size: 3em;
    color: #ffff00;
    opacity: 0.7;
}
.favorite-star:hover {
    opacity: 1;
}

.remove-user {
    float:left;
    margin: -10px 18px;
    color: red
}